/* RESPONSIVE DESIGN */
@media (max-width: 1000px) {
    .post-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Tablet */
@media (max-width: 900px) {
    .split {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .bucket-grid {
        grid-template-columns: 1fr;
    }
}

/* Mobile Nav */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar {
        flex-direction: row;
    }

    #nav-menu {
        position: absolute;
        top: 70px;
        right: 0;
        background: #111;
        width: 100%;
        display: none;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        transition: all 0.3s ease;
    }

    #nav-menu a {
        margin: 15px 0;
        display: block;
    }

    #nav-menu.active {
        display: flex;
    }
}

/* Small phones */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .navbar nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar nav a {
        font-size: 0.95rem;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .split {
        grid-template-columns: 1fr;
    }

    section {
        padding: 40px 5%;
    }

    .overlay {
        opacity: 1;
    }
    .post-grid {
        grid-template-columns: 1fr;
    }
}