<header class="navbar">
    <a href="{{base}}index.html" class="logo">
        <img src="{{base}}img/Sinful Sake.png" alt="Logo">
        Sinful Sake
    </a>

    <div class="menu-toggle" id="menu-toggle">☰</div>

    <nav id="nav-menu" aria-label="Main Navigation">
        <a href="{{base}}index.html">Home</a>
        <a href="{{base}}blog.html">Blog</a>
        <a href="{{base}}bucket.html">Bucket of Bust</a>
        <a href="{{base}}archive.html">Archive</a>
        <a href="{{base}}about.html">About</a>
    </nav>
</header>